{% extends 'base.html' %}

{% block title %}Password Changed{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="dashboard-sidebar p-3 text-white rounded">
            <h5 class="mb-4">Member Menu</h5>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:profile' %}">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:profile_update' %}">Edit Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:password_change' %}">Change Password</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'bookings:history' %}">Booking History</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'classes:my_classes' %}">My Classes</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'classes:schedule' %}">Class Schedule</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">Password Changed Successfully</h4>
            </div>
            <div class="card-body">
                <p>Your password has been changed.</p>
                <a href="{% url 'accounts:profile' %}" class="btn btn-primary">Return to Dashboard</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}